body, html, .row {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.video-container {
z-index: -100;
width:100%;
height:100%;
overflow:hidden;
position:absolute;
top:0;
left:0;
}

#video-bg{
  width:100%; 
  min-height: 278%; 
}

#video-projects-bg{
 width:100%;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}

.footer{
  padding-top: 12px;	
}

.navbar-text{
  color: black !important;
}

.navbar-text:hover{
  color: white !important;
}

.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.button1:hover {
  background-color: #f80;
}

.button2:hover {
  background-color: #008CBA;
}

.button3:hover {
  background-color: #f44336;
}

.button4:hover {
  background-color: #555555;
}

.section {
	min-height: 450px;
    min-width: 100%;
}

.center {
  position: relative;
  overflow: auto;
  min-height: 300px;
}

h1 {
  font-family: 'Dancing Script', cursive;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.underline-up{
  margin: 0;
  position: absolute;
  top: 38%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);	
}

.underline-down{
  margin: 0;
  position: absolute;
  top: 62%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);	
}

#aboutMeLeft {
	color:white;
    background-color: #ff85a2;	
}

#aboutMeRight {
	padding: 20px 20px 20px 20px;
	background-image: url('../images/Pinterest.jpg');
	background-size: cover;
}

#projectsLeft {
  color: white;
}

/*#projectsLeft:hover {
	color: black;
	background-image: url('../images/projects-bg.jpg');
	background-size: cover;
}*/

#projectsRight{
	background-image: url('../images/projects.jpg');
	background-size: contain no repeat;
}

#techSkillsLeft{
	color:white;
    background-color: #6666b2;	
}

/*#techSkillsRight:hover{
	background-image: url('../images/bg.jpg');
	background-size: cover;
  -webkit-transition-duration: 0.4s;
}*/

/*#Contact{
	background-color: #f03e3e;
}*/

#contactLeft {
	color: white;
	background-color: #005582;
}

/*#contactLeft:hover {
	color: black;
	background-image: url('../images/glitter-bg.jpg');
	background-size: cover;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}*/

#contactRight{
	background-color: #fff8b6;
}

.transparent_img{
	opacity: 0.5;
}





/* relevant styles */
.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;  
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.about_img:hover{
	opacity: 0.5;
}

.transparent_img:hover{
	opacity: 1.0;
}

#icons{
	font-size: 2rem;
}

#cps2{
    padding-top: 100px;	
}

#cps3{
    padding-top: 200px;	
}

.card{
    border-radius: 20px;	
}

.starz{
    float: right;
	bottom: 10px;
	right: 15px;
}

.stars{
    float: right;
	z-index: 1;
	left: 70px;
	top: 1115px;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .div_space{
		display: none;
	}
	
	#techSkills{
	    font-size: 2rem;	
	}
	
	#cps2{
    padding-top: 0px;	
}

#cps3{
    padding-top: 0px;	
}

.starz, .stars{
    display: none;
}

}

@media only screen and (max-width: 400px) {
    .div_space{
		display: none;
	}
	
	#techSkills{
	    font-size: 2rem;	
	}
	
	#contactLeft{
	    min-height: 220px;	
	}
		
	#cps2{
    padding-top: 0px;	
}

#cps3{
    padding-top: 0px;	
}

.starz, .stars{
    display: none;
}

}

