body, html {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	touch-action: none;
	content-zooming: none;
    background-size: cover;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	user-select: none;
}

.titleMessage {
  position: absolute;
    width: 100%;
    height: 250px;
    top: 15%;
    z-index: 5;
    text-align: center;
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    /* spacing */
    letter-spacing: 7px;
}

form{
  width: 13%;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn{
  background-color: #ff94b9;
  margin: 5px auto;
  color: white;
}

.btn:hover{
  transition-duration: 0.4s;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.9);
}

#viewProfile .peek { display: none; }
#viewProfile:hover .view { display: none; }
#viewProfile:hover .peek { display: inline; }

#icons{
  padding: 35px;
  position: absolute;
  top: 87%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.socialmediaicons{
  color: #ff94b9;
  letter-spacing: 7px;
  font-size: 2em;
}

.socialmediaicons:hover{
  background-color: white;
  border-radius: 5px;
  padding-top: 7px;
  padding-left: 7px;
  padding-bottom: 7px;
  transition-duration: 0.4s;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  form{
    width: 50%;   
  }
  #icons{
    padding: 0px;
  }
}

@media only screen and (max-width: 400px) {
  form{
    width: 50%;   
  }
  #icons{
    padding: 0px;
  }
}